<div class="reprint-option-container">
  <h2>Select Reprinting Option</h2>
  <form>
    <div class="radio-group">
      <label>
        <input type="radio" name="reprintOption" value="X" checked>
        Option X
      </label>
      <label>
        <input type="radio" name="reprintOption" value="Y">
        Option Y
      </label>
      <label>
        <input type="radio" name="reprintOption" value="Z">
        Option Z
      </label>
    </div>
    <button type="button" class="btn btn-primary" (click)="onOkClick()">Ok</button>
  </form>
</div>
